<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.ccm.ygmall.payment.mapper.CouponUserMapper">
    <resultMap id="couponUserMap" type="per.ccm.ygmall.payment.vo.CouponUserVO">
        <id column="coupon_user_id" property="couponUserId" jdbcType="BIGINT" />
        <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="receive_time" property="receiveTime" jdbcType="DATETIMEOFFSET" />
        <result column="expired_time" property="expiredTime" jdbcType="DATETIMEOFFSET" />
        <association property="coupon" javaType="per.ccm.ygmall.payment.vo.CouponVO" fetchType="eager" column="{couponId = coupon_id}"
                     select="per.ccm.ygmall.payment.mapper.CouponMapper.selectCouponById" />
    </resultMap>

    <sql id="coupon_user_vo_column">
        `coupon_user_id`, `coupon_id`, `state`, `receive_time`, `expired_time`
    </sql>

    <select id="selectCouponUserListByUserId" resultMap="couponUserMap">
        SELECT <include refid="coupon_user_vo_column" /> FROM coupon_user
        WHERE `user_id` = #{userId} AND `state` = 1
    </select>

    <select id="selectCouponUserListByCouponUserId" resultMap="couponUserMap">
        SELECT <include refid="coupon_user_vo_column" /> FROM coupon_user WHERE `coupon_user_id` = #{couponUserId}
    </select>
</mapper>