<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.ccm.ygmall.platform.mapper.BannerMapper">
    <sql id="banner_vo_column">
        `banner_id`, `desc`, `link`, `img`
    </sql>

    <select id="selectBannerPages" resultType="per.ccm.ygmall.platform.vo.BannerVO">
        SELECT <include refid="banner_vo_column" /> FROM banner
        <where>
            <if test="type != null">`type` = #{type}</if>
        </where>
    </select>

    <select id="selectBannerList" resultType="per.ccm.ygmall.platform.vo.BannerVO">
        SELECT <include refid="banner_vo_column" /> FROM banner
        <where>
            <if test="type != null">`type` = #{type}</if>
            <if test="page != null">`page` = #{page}</if>
        </where>
    </select>
</mapper>