<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.ccm.ygmall.user.mapper.FeedbackMapper">
    <sql id="feedback_vo_column">
        feedback.`feedback_id`,
        feedback.`user_id`,
        feedback.`feedback_type_id`,
        feedback.`rate`,
        feedback.`content`,
        feedback.`content_way`,
        feedback_type.`name`
    </sql>

    <sql id="feedback_left_join_feedback_type">
        FROM feedback LEFT JOIN feedback_type ON feedback.`feedbac_type_id` = feedback_type.`feedback_type_id`
    </sql>

    <select id="selectFeedbackPages" resultType="per.ccm.ygmall.user.vo.FeedbackVO">
        SELECT <include refid="feedback_vo_column" /> <include refid="feedback_left_join_feedback_type" />
        <where>
            <if test="userId != null">user_id = #{userId}</if>
        </where>
    </select>
</mapper>