<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.ccm.ygmall.order.mapper.OrderMapper">
    <resultMap id="orderVOMap" type="per.ccm.ygmall.order.vo.OrderVO">
        <id column="order_id" property="orderId" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
        <result column="is_pay" property="isPay" jdbcType="BOOLEAN" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="submit_time" property="submitTime" jdbcType="DATETIMEOFFSET" />
        <result column="cancel_time" property="cancelTime" jdbcType="DATETIMEOFFSET" />
        <result column="pay_time" property="payTime" jdbcType="DATETIMEOFFSET" />
        <result column="delivery_time" property="deliveryTime" jdbcType="DATETIMEOFFSET" />
        <result column="finish_time" property="finishTime" jdbcType="DATETIMEOFFSET" />
        <association property="orderAddrVO" javaType="per.ccm.ygmall.order.vo.OrderAddrVO" fetchType="eager" column="{orderId = order_id}"
                    select="per.ccm.ygmall.order.mapper.OrderAddrMapper.selectOrderAddrByOrderId" />
        <collection property="orderItemList" ofType="per.ccm.ygmall.order.vo.OrderItemVO"  fetchType="eager" column="{orderId = order_id}"
                    select="per.ccm.ygmall.order.mapper.OrderItemMapper.selectOrderItemListByOrderId" />
    </resultMap>

    <sql id="order_vo_column">
        `order_id`, `user_id`, `state`, `total_amount`, `pay_amount`, `is_pay`,`order_no`, `remark`,
        `submit_time`, `cancel_time`, `pay_time`, `delivery_time`, `finish_time`
    </sql>

    <select id="selectOrderById" resultMap="orderVOMap">
        SELECT <include refid="order_vo_column" /> FROM `order`
        WHERE `order_id` = #{orderId}
    </select>

    <select id="selectOrderPages" resultMap="orderVOMap">
        SELECT <include refid="order_vo_column" /> FROM `order`
        <where>
            <if test="userId != null">`user_id` = #{userId}</if>
            <if test="state != null">`state` = #{state}</if>
            <if test="orderNo != '' and orderNo != null">`order_no` = #{orderNo}</if>
            AND `enabled` = TRUE
        </where>
    </select>

    <select id="selectOrderStatistics" resultType="per.ccm.ygmall.order.vo.OrderStatisticsVO">
        SELECT
            COUNT(*) AS `total`,
            SUM(pay_amount) AS `totalAmount`,
            DATE_FORMAT(create_time, '%y') AS `year`,
            DATE_FORMAT(create_time, '%m') AS `month`
        FROM `order` WHERE year(create_time) = year(NOW()) AND is_pay AND `state` != 0 AND `state` != 1 GROUP BY `month`
    </select>
</mapper>